/*///////////////////////////////////////*/
/* BODY */
/*///////////////////////////////////////*/
body {
    font-family: Dubai light, sans-serif;
    background-color: whitesmoke;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*///////////////////////////////////////*/
/* HEADER */
/*///////////////////////////////////////*/

header{
    background-color: #000000;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    padding: 1px 3em 1px 2em;
}
header h1 {
    font-size: 2em;
    text-align: left;
    color: whitesmoke;
    font-weight: bold;
    padding-left: 1em;
}
header nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5em 1em;
}
header nav ul li a:hover {
    background-color: #555;
    color: whitesmoke
}
header nav ul li {
	display: inline;
}
header nav ul {
/*    position: sticky;*/
	list-style-type: none;
	padding: 0 1em;
}

/*///////////////////////////////////////*/
/* MAIN */
/*///////////////////////////////////////*/

.inicio img {
    max-width: 300px;
    max-height: 303px;
    padding: 0 1em 0 2em;
    float: right;
    border-radius: 80px;
}
.hobbies ul {
    list-style-type:circle;
    font-size: x-large;
    font-style: italic;
    }
.pendientes ol {
    font-size: large;
    font-style: oblique;  
    padding: 0 1em;
    font-size: x-large;
}
h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0
}
#h2footer {
    font-size: 1.7em;    
}
p {
    text-align: left;
    font-size:x-large;
    padding: 0 20px 0 0;
}
.agenda table {
    border-collapse: collapse;
    width: 100%;
}
.agenda th, td {
    border: 1px solid black;
    width: 16.66%;
    height: 5px;
    padding: 0;
    text-align: center;
}
.agenda thead {
    font-size: large;
}
.agenda tbody tr td ul {
    list-style-type: none;
    font-size: large;
    text-align: center;
    padding: 0;
}
.agenda th {
    background-color:#5a22dd81;
}

/*SECCIONES*/
.inicio {
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 #ebfc01;
}

.acerca-de {
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #e02424;
}

.hobbies {
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #1034fc;
}

.pendientes {
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #f77d03;
}

.agenda {
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #5a22dd;
}

.formulario {
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #15f700;
}


/*///////////////////////////////////////*/
/* FOOTER */
/*///////////////////////////////////////*/

footer {
    background-color: black;
    color: whitesmoke;
    text-align: left;
    font-weight: bold;
    width:100%;
    overflow:auto;
}
footer div {
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    width:50%;
    float: left;
}
footer div nav ul li a img {
    width: 40px;
    height: 40px;
    padding: 0 0 0 0.25em;
}

#Copyright h4,h2 {
    padding: 0 0 0 1.9em;
}
#Copyright h2,h4 {
    padding: 0 0 0 3.5em;
}
#SocialMedia {
    padding-left: 3em;
}
#SocialMedia ul li {
	display: inline;
}
#SocialMedia ul {
	list-style-type: none;
	padding: 0;
}
#FooterMenu {
    float: right; 
}
#FooterMenu ul li a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 0.2em 1em;
}
#FooterMenu ul li a:hover {
    background-color: #555;
    color: whitesmoke
}
#FooterMenu ul {
	list-style-type: none;
	padding: 0 1em;
}
#FooterMenu ul li {
    padding: 0.25em 1em;
}

/*///////////////////////////////////////*/
/* FORMULARIO */
/*///////////////////////////////////////*/

label {
    display: block;
    line-height: 1em;
    margin: 3px 0 0;
    font-weight: lighter;
}
input, textarea {
    width:99%;
    padding: 3px;
    margin-bottom: 3px;
    border: 0 solid #555;
    background-color: #ddd;
    border-radius: 8px;
}
input[type="submit"] {
    background-color: #f0f0f0;
    color: black;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
    color: white;
    font-weight: bold;
}